@model GiLuFlixBack.Models.User
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Danfo&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Dashboard";
}


<html>
<head>
    <title>Dashboard do administrado</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Dashboard do Administrador</h1>
        </div>
        <div class="menu" style="display: flex; justify-content: space-between; width:50%;">
            <!-- Adicione mais links de menu conforme necessário -->
        </div>
        <div style="width: 800px; height: 800px; margin-top: 5%; margin-left: -20%">
          <canvas id="myChart"></canvas>
        </div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Livros', 'Filmes', 'Séries'],
      datasets: [{
        label: '# of Items',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
