@model GiLuFlixBack.Models.User


@{
    ViewData["Title"] = "Dashboard";
}


<html>
<head>
    <title>Dashboard do Administrador</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Dashboard do Administrador</h1>
        </div>
        <div class="menu">
            <a href="#">Página Inicial</a>
            <a href="#">Usuários</a>
            <a href="#">Configurações</a>
            <!-- Adicione mais links de menu conforme necessário -->
        </div>
<div>
  <canvas id="myChart"></canvas>
</div>
<div>
  <canvas id="myChart"></canvas>
</div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
